@import '../../scss_var.scss';
.MuiListItem-root {
  a{
    display: flex;
  }
  background-color: rgba(1, 1, 1, 0.05);
}

.MuiListItem-root:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.MuiList-root {
  a{
    display: flex;
  }
  background-color: rgba(1, 1, 1, 0.05);
}

ul.MuiList-root li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

span.MuiTypography-body1 {
  font-size: 1.2em;
  font-weight: 600;
  color: $color3;
}

.MuiTypography-body2 {
  font-style: italic;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
