/* RGB */
$secondar: rgb(242, 174, 114);
$prmary-light1: rgb(140, 89, 59);
$secondary-light1: rgb(191, 161, 143);
$contrast: rgb(217, 98, 72);
$primary: rgb(64, 45, 29);
/* RGB */
$color1: rgb(232, 191, 168);
$color2: rgb(220, 138, 85);
$color3: rgb(153, 185, 212);
$color4: rgb(195, 144, 115);
$color5: rgb(213, 149, 53);

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

.App {
}

.test {
}
